In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools
import matplotlib.pyplot as plt
from collections import Counter

In [7]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
977,tt1446714,130000000,403170142,Prometheus,Noomi Rapace|Michael Fassbender|Charlize Thero...,Ridley Scott,The Search for Our Beginning Could Lead to Our...,A team of explorers discover a clue to the ori...,124,Science Fiction|Adventure|Mystery,Twentieth Century Fox Film Corporation|Dune En...,5/30/2012,6.2,2012
763,tt1189340,40000000,85412898,The Lincoln Lawyer,Matthew McConaughey|Marisa Tomei|Ryan Phillipp...,Brad Furman,This Case is a Dangerous Game of Life and Death,A lawyer conducts business from the back of hi...,119,Crime|Drama|Thriller,Lakeshore Entertainment|Sidney Kimmel Entertai...,3/17/2011,6.9,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# преобразуем в формат даты-время
data['release_date'] =  pd.to_datetime(data['release_date'])

#Расчитываем и добавляем столбец со значениям прибыли/убытка в датафрейм
data['profit'] = data['revenue'] - data['budget']


#region создание списка жанров
# создаем датафрейм со значениями наименований жанров
tmp_df = data.genres.str.split('|', expand = True)

# вычленяем уникальные значения всех жанров в список (список используется в 11 заданиях)
genres_list = pd.unique(tmp_df.values.ravel())
#endregion


# добавляем месяца и сезоны (времена года в исходный датайрейм)
data['release_date_M'] = data.release_date.apply(lambda x: x.strftime('%B'))
data['release_season'] = data.release_date_M.apply(
    lambda x : 'Summer' 
    if x in ['June', 'July', 'August'] 
    else 'Spring' 
    if x in ['March', 'April', 'May'] 
    else 'Autumn'
    if x in ['September', 'October', 'November']
    else 'Winter')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# Получаем строки у которых бюджет равен максимальному значению.
a01_1 = data[data.budget == data.budget.max()].copy()

# добавляем ответ в словарь
answers['1'] = '{1} ({0})'.format(a01_1.iloc[0]['imdb_id'], a01_1.iloc[0]['original_title'])

ВАРИАНТ 2

In [371]:
# можно добавлять разные варианты решения
a01_2 = data.query('budget == budget.max()')

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# Получаем строки у которых продолжительность равен максимальному значению.
a02 = data[data.runtime == data.runtime.max()].copy()

# добавляем ответ в словарь (применяем форматирование)
answers['2'] = '{1} ({0})'.format(a02.iloc[0]['imdb_id'], a02.iloc[0]['original_title'])

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
# Получаем строки у которых продолжительность равен минимальному значению.
a03 = data[data.runtime == data.runtime.min()].copy()

# добавляем ответ в словарь
answers['3'] = '{1} ({0})'.format(a03.iloc[0]['imdb_id'], a03.iloc[0]['original_title'])

# 4. Какова средняя длительность фильмов?

In [12]:
# добавляем ответ в словарь (среднее значение всех длительностей)
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [13]:
# добавляем ответ в словарь (медианное значение всех длительностей)
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# Получаем строки у которых прибыль равна максимальному значению.
a06 = data[data.profit == data.profit.max()].copy()

# добавляем ответ в словарь
answers['6'] = '{1} ({0})'.format(a06.iloc[0]['imdb_id'], a06.iloc[0]['original_title'])

# 7. Какой фильм самый убыточный?

In [15]:
# Получаем строки у которых прибыль равна минимальному значению.
a07 = data[data.profit == data.profit.min()].copy()

# добавляем ответ в словарь
answers['7'] = '{1} ({0})'.format(a07.iloc[0]['imdb_id'], a07.iloc[0]['original_title'])

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
# добавляем ответ в словарь фильмы у которых прибыль плюсовая
answers['8'] = data[data.profit > 0]['profit'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
# сортируем датасет по кассовым сборам от большего к меньшему за 2008 год
a09 = data[data['release_year'] == 2008].sort_values('revenue', ascending = False).copy()

# добавляем ответ в словарь значения из первой строки датасета (наибольшее значение сборов)
answers['9'] = '{1} ({0})'.format(a09.iloc[0]['imdb_id'], a09.iloc[0]['original_title'])

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
# сортируем датасет по прибыли от меньшего к большему за период 2012-2014 год
a10 = data[(data['release_year'] >= 2012)&(data['release_year'] <= 2014)].sort_values('profit').copy()

# добавляем ответ в словарь значения из первой строки датасета (наименьшее значение прибыли)
answers['10'] = '{1} ({0})'.format(a10.iloc[0]['imdb_id'], a10.iloc[0]['original_title'])

# 11. Какого жанра фильмов больше всего?

In [19]:
# создаем словарь для записи значений выполнения цикла
genres_count = {}

for genre in genres_list:
    # для каждого жанра считаем длину датафрейма, добавляем в словарь по ключу жанр
    genres_count[genre] = len(data[data.genres.str.contains(str(genre))])
    
# добавляем ответ в словарь (ключ с максимальное значением)
answers['11'] = list(genres_count.keys())[list(genres_count.values()).index(max(genres_count.values()))]

ВАРИАНТ 2

In [20]:
a11 = data.copy()

# разбиваем по жанрам датафрейм
a11['genres'] = a11['genres'].str.split('|')
a11 = a11.explode('genres')

# выделяем самый популярный
answers['11'] = a11.genres.value_counts().index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
# имеется прибыль
a12 = data[data.profit > 0].copy()

a12['genres'] = a12['genres'].str.split('|')
a12 = a12.explode('genres')

answers['12'] = a12.genres.value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
# Группируем датафрейм по режисеру и суммам кассовых сборов (КС), сортируем по суммам КС от большего к меньшему
# добавляем ответ в словарь (первую строку с самой большой суммой КС)
answers['13'] = data.groupby('director')['revenue'].sum().sort_values(ascending = False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
# создаем датафрейм со значениями режисеров
df = data.director.str.split('|', expand = True).copy()

# вычленяем уникальные значения всех Режисеров в список
director_list = pd.unique(df.values.ravel())

director_count = {}
for director in director_list:
    director_count[director] = data[(data.director.str.contains(str(director))) & (data.genres.str.contains('Action'))]['director'].count()

answers['14'] = list(director_count.keys())[list(director_count.values()).index(max(director_count.values()))]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
# датафрейм с фильтром по году выпуска фильма 2012
a15 = data[(data['release_year'] == 2012)].copy()

# фильтруем по максимальному КС, выделяем актеров
a15 = a15[a15.revenue == a15.revenue.max()]['cast']

# Series преобразуем в список и добавялем в ответ
answers['15'] = list(a15.str.split('|'))

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
# бюджет выше среднего
a16 = data[data.budget > data.budget.mean()].copy()

a16['cast'] = a16['cast'].str.split('|')
a16 = a16.explode('cast')

answers['16'] = a16.cast.value_counts().sort_values(ascending = False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
# Датафрейм с фильмами в которых снимался Nicolas Cage
a17 = data[data.cast.str.contains('Nicolas Cage')].copy()

# переменные
count = 0
tg_genre = ''

for genre in genres_list:
    # проверяем длину датафрейма по каждому жанру
    if count < len(a17[a17.genres.str.match(str(genre))]):
        # обновляем переменную жанра и максимального количества совпадений в датафрейме по жанру
        count = len(a17[a17.genres.str.contains(str(genre))])
        tg_genre = genre

answers['17'] = tg_genre

In [27]:
# Датафрейм с фильмами в которых снимался Nicolas Cage
a17_2 = data[data.cast.str.contains('Nicolas Cage')].copy()

a17_2['genres'] = a17_2['genres'].str.split('|')
a17_2 = a17_2.explode('genres')

answers['17'] = a17_2.genres.value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
# сортируем датафрейм по производителю Paramount Pictures
a18 = data[data.production_companies.str.contains('Paramount Pictures')].copy()

# получаем минимальное значение прибыли (убыток)
a18 = a18[a18.profit == a18.profit.min()]

# добавлем ответ
answers['18'] = '{1} ({0})'.format(a18.iloc[0]['imdb_id'], a18.iloc[0]['original_title'])

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
# все фильмы в создании которых учавствовал Warner Bros
a20 = data[data['production_companies'].str.contains('Warner Bros')]

# группируем по году выпуска и прибыли, суммируем и берем наибольшее
answers['20'] = a20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
a21 = data.copy()

# обращаемся к колонке сформированной в предобработке (колонка с месяцами)
answers['21'] = a21['release_date_M'].value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [32]:
# фильмы вышедшие летом
a22 = data[data.release_season == 'Summer'].copy()

answers['22'] = a22.release_season.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
# фильмы вышедшие зимой
a23 = data[data.release_season == 'Winter'].copy()

a23['director'] = a23.director.str.split('|')
a23=a23.explode('director')

#  в ответ попал тот кто больше всех фильмом наснимал за зиму.
answers['23'] = a23.director.value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
a24 = data.copy()

a24['production_companies'] = a24.production_companies.str.split('|')
a24 = a24.explode('production_companies')

# подсчитываем количество символов названия в отдельную колонку
a24['original_title_len'] = a24['original_title'].apply(lambda x: len(str(x)))

answers['24'] = a24.groupby(['production_companies'])['original_title_len'].mean().sort_values().index[-1]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
# подсчитываем количество символов описания в отдельную колонку
a24['overview_len'] = a24['overview'].apply(lambda x: len(str(x)))

answers['25'] = a24.groupby(['production_companies'])['overview_len'].mean().sort_values().index[-1]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
a26 = data.copy()

# определаем квантиль и берем его верхнюю часть
a26 = a26[a26['vote_average'] > a26['vote_average'].quantile(q=0.99)]

# сортируем по рейтингу и в ответ берем назавние
answers['26'] = a26.sort_values(['vote_average'], ascending = False)['original_title']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [51]:
a27 = data.copy()

# разбиваем по актерам и сразу формируем пары.
a27['cast'] = a27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
a27 = a27.explode('cast')

answers['27'] = a27.cast.value_counts().index[0]

ВАРИАНТ 2

# Submission

In [55]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': [['Robert Downey Jr.',
   'Chris Evans',
   'Mark Ruffalo',
   'Chris Hemsworth',
   'Scarlett Johansson']],
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 599                                   The Dark Knight
 9                                          Inside Out
 34                                               Room
 118                                      Interstellar
 125                                The Imitation Game
 119                           Guardians of the Galaxy
 128                                         Gone Girl
 138                          The Grand Budapest Hotel
 370                                         Inception
 872                                       The Pianist
 1081    The Lord of the Rings: The Return of the King
 1183                          The Wolf of Wall Street
 1191                                 12 Years a Slave
 1800                                          Memento
 Name: original_title, dtype: object,
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [56]:
# и убедиться что ни чего не пропустил)
len(answers)

27